body {
    background: #0f0f0f;
    color: #eaeaea;
    font-family: sans-serif;
    margin: 0;
}

/* 全体 */
#chat {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 80px;
}

/* ヘッダー */
#chat_header {
    padding: 12px;
    font-size: 18px;
    text-align: center;
    background: #ddd;
    color: #111;
}

.side-left,
.side-right {
    position: fixed;
    top: 0;
    height: 100vh;
    width: calc((100% - 900px) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-size: 14px;
    letter-spacing: 1px;
}


.side-left {
    left: 0;
    border-right: 1px solid #111;
}

.side-right {
    right: 0;
    border-left: 1px solid #111;
}

.side-box {
    border: 1px solid #222;
    padding: 20px;
    background: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(4px);
}

.side-title {
    font-size: 12px;
    color: #666;
    margin-bottom: 15px;
    border-bottom: 1px solid #222;
    padding-bottom: 5px;
}

/* メッセージエリア */
#messages_area {
    height: 70vh;
    overflow-y: auto;
    padding: 10px;
    background: #1a1a1a;
}

/* 共通メッセージ */
.bms_message {
    display: flex;
    margin: 8px 0;
}

/* 左（無垢） */
.bms_left {
    clear: both;
    float: left;
}

.bms_left .bubble {
    background: #2c2c2c;
    color: white;
    border-radius: 15px 15px 15px 0;
}

/* 右（あなた） */
.bms_right {
    clear: both;
    float: right;
}

.bms_right .bubble {
    background: #4a90e2;
    color: white;
    border-radius: 15px 15px 0 15px;
}

/* 吹き出し */
.bubble {
    padding: 10px 14px;
    font-size: 15px;
    word-wrap: break-word;
}

/* 入力エリア */
#input-area {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 700px;
    display: flex;
    gap: 8px;
}

/* テキストボックス */
#userInput {
    flex: 1;
    height: 45px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
}

/* 送信ボタン */
#btn_send {
    width: 80px;
    border: none;
    border-radius: 6px;
    background: #bcbcbc;
    font-weight: bold;
    cursor: pointer;
}

#btn_send:hover {
    background: #e13838;
}